<!DOCTYPE html>
<html>
<head>
    <title>AWIS FB</title>
    <link rel="stylesheet" type="text/css" href="/home/home.css">
</head>
<body>
    <header>
        <h1>AWIS FB</h1>
    </header>

    <main>
        <nav>
            <ul id="navul">
                <a href="/home"><li class="topmenu">Inicio</li></a>
                <a href="/equipos"><li class="topmenu">Equipos</li></a>
                <a href="/jugadores"><li class="topmenu">Jugadores</li></a>
                
                <a href="/register"><li class="topmenu">Registro</li></a>
            </ul>
        </nav>

        <div id="teams"></div>

    <footer>
        <p>&copy; 2023 Football Team Stats. All rights reserved.</p>
    </footer>

    <script src="/equipos/equipos.js"></script>
</body>
</html>