<!DOCTYPE html>
<html>
<head>
    <title>Team Details</title>
    <link rel="stylesheet" type="text/css" href="/home/home.css">
</head>
<body>
    <h1>Team Details</h1>
    <div id="team-details"></div>
    <script src="/equipos/team.js"></script>
</body>
</html>